/********************************* CORES *********************************/
@vermelho: #e3202b;

@preto: #000;
@escuro: #222;
@grafite: #333;
@cinzaescuro: #777;
@cinza: #AAA;
@cinzaclaro: #EEE;
@gelo: #F7F7F7;
@branco: #FFF;

@cores:
	vermelho @vermelho,
	
	preto @preto,
	escuro @escuro,
	grafite @grafite,
	cinzaescuro @cinzaescuro,
	cinza @cinza,
	cinzaclaro @cinzaclaro,
	gelo @gelo,
	branco @branco;

.color-classes(@i: length(@cores)) when (@i > 0) {
    .color-classes(@i - 1);
    @color: extract(@cores, @i);
	@nome: extract(@color, 1);
	@cor: extract(@color, 2);
    .c@{nome} { color: @cor; }
	.b@{nome} { background-color: @cor; }
	.f@{nome} { fill: @cor; }
}
.color-classes();

/********************************* FONTS *********************************/
@font-face {
    font-family: 'Aurora';
    src: url("../fonts/OPTIAuroraBoldCondensed.ttf") format("opentype");
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Light.ttf") format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Regular.woff") format("woff"),
      url("../fonts/TCCC-UnityText-Regular.woff2") format("woff2"),
      url("../fonts/TCCC-UnityText-Regular.ttf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Medium.woff") format("woff"),
      url("../fonts/TCCC-UnityText-Medium.woff2") format("woff2"),
      url("../fonts/TCCC-UnityText-Medium.ttf") format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Bold.ttf") format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: 'TCCC';
    src: url("../fonts/TCCC-UnityText-Black.ttf") format("opentype");
    font-weight: 800;
}

/********************************* GERAL *********************************/
html,body{ .m0; .p0; }
body{ padding-bottom: 2000px; }
*{
	font-family: 'TCCC', 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alterfont{
	font-family: 'Aurora', 'Anton', sans-serif;
}
.transition{
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.no-transition{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
.fast{
	-webkit-transition-duration: 100ms;
	-moz-transition-duration: 100ms;
	-o-transition-duration: 100ms;
	transition-duration: 100ms;
}
.slow{
	-webkit-transition-duration: 400ms;
	-moz-transition-duration: 400ms;
	-o-transition-duration: 400ms;
	transition-duration: 400ms;
}
.clear{
	clear: both;
}
a, button{ text-decoration: none; color: inherit; border: 0; outline: 0; background: none; cursor: pointer; &:hover{ text-decoration: none; } }
ul,ol{ list-style-type: none; }
.tabled{
	display: table;
	&>div{display: table-cell; vertical-align: middle;}
}
/*********************************** FORMAS ***********************************/
.il{display: inline;}
.bl{display: block;}
.ib{display: inline-block;}

.rd100{border-radius: 100vh;}
.rd0{border-radius: 0px;}
.rd5{border-radius: 5px;}
.rd10{border-radius: 10px;}

.m0{margin: 0;}

.mb05{margin-bottom: 0.5em;}
.mb1{margin-bottom: 1em;}
.mb2{margin-bottom: 2em;}
.mb3{margin-bottom: 3em;}

.p0{padding: 0;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p20{padding: 20px;}

/*********************************** FONTES TEXTOS ***********************************/
.w100{font-weight: 100;}
.w200{font-weight: 200;}
.w300{font-weight: 300;}
.w400{font-weight: 400;}
.w500{font-weight: 500;}
.w600{font-weight: 600;}
.w700{font-weight: 700;}
.w800{font-weight: 800;}
.w900{font-weight: 900;}
.i{font-style: italic;}
.uc{text-transform: uppercase;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}

.t10{font-size: 10px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t13{font-size: 13px;}
.t14{font-size: 14px;}
.t15{font-size: 15px;}
.t16{font-size: 16px;}
.t18{font-size: 18px;}
.t20{font-size: 20px;}
.t22{font-size: 22px;}
.t24{font-size: 24px;}
.t26{font-size: 26px;}
.t28{font-size: 28px;}
.t32{font-size: 32px;}
.t36{font-size: 36px;}
.t37{font-size: 37px;}
.t42{font-size: 42px;}
.t48{font-size: 48px;}
.t56{font-size: 56px;}
.t72{font-size: 72px;}

.lh120{line-height: 120%;}
.lh140{line-height: 140%;}
.lh160{line-height: 160%;}
.lh180{line-height: 180%;}
.lh200{line-height: 200%;}

/*********************************** MIXINS ***********************************/
.h2-titulo(@url, @color){
	.uc; .t36; .w800; .ib; position: relative; overflow: hidden;
	color: @color;
	&::after{
		.bl; content: ''; position: absolute; top: 0; right: 0;
		width: 348px; height: 222px;
		background-image: url(@url);
		background-size: contain;
		background-position: top right;
	}
}

/*********************************** ELEMENTOS ***********************************/
nav#menu{
	position: fixed; top: 0; left: 0; width: 100%; z-index: 800; .bpreto;
	.container{
		display: flex; justify-content: flex-end;
		#menu-label{
			.ib; .p10; position: relative; z-index: 802;
			svg rect{
				.transition; .slow; transform-origin: center center; .fbranco;
			}
		}
	}
	ul{
		position: fixed; top: 0; left: 0; z-index: 801; .bvermelho; .slow;
		width: 100%; overflow: hidden; .transition; transform: translateY(-100%);
		padding: 80px 30px 50px; max-height: 100vh; overflow-y: auto;
		li{
			margin-bottom: 30px;
			a{
				.uc; .cbranco; .t22; .w800;
			}
		}
	}
}
#menu-inp{
	display: none !important;
	&:checked{
		& ~ nav#menu #menu-label{
			rect:nth-child(1){
				transform: rotate(45deg) translateY(7px);
			}
			rect:nth-child(2){
				transform: translateX(-40px);
			}
			rect:nth-child(3){
				transform: rotate(-45deg) translateY(-7px);
			}
		}
		& ~ nav#menu ul{
			transform: translateY(0%);
		}
	}
}
#capa{
	background-image: linear-gradient(to bottom, fade(@preto, 70) 80%, fade(@vermelho, 100) 100%), url('../img/capa-back.png');
	background-size: 100% 100%, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	.container{
		display: flex; align-items: center; justify-content: center; height: 450px;
		h1{
			.tc; line-height: 250%;
			#logo-coca{
				.ib; max-width: 100%; width: 290px; z-index: 805;
				&.scroll{
					position: fixed; top: 7px; left: 15px;
					height: 29px; width: auto;
				}
			}
			span{ .cbranco; .t36; .uc; .w800; }
			#logo-rir{ .ib; max-width: 100%; width: 200px; }
		}
	}
}
#sobre{
	.bvermelho;
	.container{
		p{
			.cbranco; .t18; .w500; padding: 30px 0;
		}
	}
	.image{
		background-image: linear-gradient(to top, fade(@vermelho, 40) 80%, fade(@vermelho, 100) 100%), url('../img/sobre-back.png');
		background-size: 100% 100%, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: center center, center center;
		height: 70vw;
	}
}
#construindo{
	padding-top: 80px; padding-bottom: 80px;
	.container{
		position: relative;
		&.items{
			background-image: url('../img/construindo-icons.png');
			background-repeat: no-repeat;
			background-position: top 435px center;
			*{ position: relative; z-index: 10; }
		}
		h2.titulo{ .h2-titulo('../img/h2-wave-branca.svg', @preto); }
		h3{ .uc; .w800; .t22; }
		p{ .t14; .w600; }
		#lines{
			position: absolute; top: 595px; z-index: 5; left: 50%;
			transform: translateX(-50%);
			path{
				fill: none;
			    stroke: #DD0E1D;
			    stroke-miterlimit: 10;
			    stroke-width: 2px;
			}
		}
		.item-1, .item-3{
			.tr; padding-left: 160px; margin-bottom: 60px;
		}
		.item-2, .item-4{
			padding-right: 160px; margin-bottom: 60px;
		}
	}
}
#temmais{
	.bpreto; padding-top: 80px; padding-bottom: 80px;
	.container{
		h2.titulo{ .h2-titulo('../img/h2-wave-preta.svg', @vermelho); .mb1; }
		img{ .mb2; }
		h3{ .uc; .w800; .t42; .cbranco; }
		p{ .t18; .w600; .cbranco; }
	}
}
#descartou{
	padding-top: 80px; padding-bottom: 80px;
	.container{
		h2.titulo{ .h2-titulo('../img/h2-wave-branca.svg', @preto); .mb1; }
		p{ .t14; .w600; }
		ul{
			.p0; margin: 30px 0 50px;
			li{
				display: flex; align-items: center; justify-content: space-between;
				gap: 5px; margin: 0 0 30px;
			}
		}
		h3{ .t18; .w800; }
		.slider{
			.mb1;
			.wrapper{
				position: relative; margin: auto; max-width: 360px;
				.slides{
					display: flex; position: relative; top: 0; left: 0px; width: 10000px;
					&.shifting { transition: left .2s ease-out; }
					.slide {
						max-width: 280px; width: 100vw; padding: 0; cursor: move; display: flex; flex-direction: column; justify-content: center; transition: all 1s; position: relative;
					}
				}
			}
			.control{ display: none; }
		}
		.pontos{
			display: flex; align-items: center; justify-content: center;
			img{ width: 24%; margin-right: 5px; }
		}
	}
}